<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>

    <script type="module">
        // Import initialize method
        import { startVjs, attributeHandlers } from '../../src/index.mjs';

        const app = document.getElementById('app');
        startVjs(app, attributeHandlers);
    </script>
</head>
<body>
    <div id="app">
        <template v-template="row">
            <tr>
                <td>{{name}}</td>
                <td>{{age}}</td>
            </tr>
        </template>

        <table>
            <thead>
            <tr>
                <td>Name</td>
                <td>Age</td>
            </tr>
            </thead>
            <tbody v-element="body"></tbody>
        </table>

        <script type="javascript" v-script>
            const { body } = vjs.elements;
            const { row } = vjs.templates;

            const employees = [
                {name: 'Ian', age: 30},
                {name: 'John', age: 25},
                {name: 'Jane', age: 35},
            ]

            employees.forEach(employee => {
                body.appendChild(row.render(employee));
            })
        </script>
    </div>
</body>
</html>