<div v-component="template">
    <template v-template="row">
        <tr>
            <td>{{name}}</td>
            <td>{{age}}</td>
        </tr>
    </template>

    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
        </tr>
        </thead>
        <tbody v-element="body"></tbody>
    </table>
</div>

<script>
    const component = document.vjs.initialiseComponent('template');
    const { body } = component.elements;
    const { row } = component.templates;

    const employees = [
        {name: 'Ian', age: 30},
        {name: 'John', age: 25},
        {name: 'Jane', age: 35},
    ]

    employees.forEach(employee => {
        body.appendChild(row.render(employee));
    })
</script>